{% extends 'base.html' %}

{% block video %}

    <!--  
        src="{{url_for('static', filename='logo3.png')}}"
    -->
    
        <div class="col-sm-8">
            <div class="embed-responsive embed-responsive-16by9">
                <video id="the_feed" class="video-js vjs-fluid vjs-default-skin" controls preload="auto" data-setup='{}'>
                    <source src="{{url_for('static', filename='feed/stream.m3u8')}}" type="application/x-mpegURL">
                </video>
            </div>
        </div>
    </div>

{% endblock %}